.Button {
    font-size: 1.1rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    background-color: rgb(18 16 25);
    color: #fafafa;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #4d4d4d;
  }
  
  .Button:active {
    background-color: rgb(18 16 25);
  }
  
  .Button:focus {
    background-color: rgb(18 16 25);
  }
  
  .Wide {
    padding: 10px 50px;
    width: 50%%;
  }
  
