.categorybar {

  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  width: 100%;
}

.NavLink {
  padding: 5px;
  
}

.Active i {
  color: black;
}
