.CategoryBar {

  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
  width: 100%;
  color: rgb(18 16 25);
  font-weight: bold;
}

.NavLink {
  
  cursor: pointer;
  
}

/* On screens that are 365px or less, set the background color to blue */
@media screen and (max-width: 365px) {
  .DropDownSmall {
    padding-top: 45px;
  }
}

