.Review {
    background-color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Review figure,
  h5 {
    margin: 0 0;
  }
  
  .Keep {
    color: #cc90f9;
  }
  
  .Keep:hover {
    color: slategrey;
  }
  
  .KeepOutline:hover {
    color: slategrey;
  }
  
  .Rating {
    color: rgb(245 189 0);
    font-size: 1.2rem;
    position: relative;
    top: -3px;
    left: -8px

  }