.Review {
    background-color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Review figure,
  h5 {
    margin: 0 0;
  }
  
  .Keep {
    color: black;
  }
  
  .Keep:hover {
    color: gray;
  }
  
  .KeepOutline:hover {
    color: grey;
  }
  