.Row {
    height: calc(50vh);
    background-image: url("../assets/background_login.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    
  }
  .Input {
    background: #fafafa;
    border: 3px solid rgb(18 16 25);
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: bold;
    color: rgb(18 16 25);
    text-align: left;
    padding: 10px;
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  
  .Link {
    color: rgb(18 16 25);
    text-align: left;
    display: block;
    margin: auto;
    font-weight: bolder;
    font-size: 1.1rem;
  }
  
  .Link span {
    color: rgb(18 16 25);
  }
  
  .Container {
    padding: 30px 10px;
  }
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }